<h1>Abos</h1>

<mat-card appearance="outlined" *ngIf="subscriptions.length == 0">
  <p>
    <em>Du hast noch keine Sendungen abonniert.</em>
  </p>
</mat-card>

  <table mat-table [dataSource]="subscriptions" class="mat-elevation-z8" *ngIf="subscriptions.length > 0">
    <ng-container matColumnDef="topic">
      <th mat-header-cell *matHeaderCellDef>Sendung</th>
      <td mat-cell *matCellDef="let subscription"><strong>{{subscription.topic}}</strong></td>
    </ng-container>

    <ng-container matColumnDef="channel">
      <th mat-header-cell *matHeaderCellDef>Sender</th>
      <td mat-cell *matCellDef="let subscription">{{subscription.channel}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Dauer</th>
      <td mat-cell *matCellDef="let subscription">
        <span *ngIf="subscription.duration">Länger als {{subscription.duration}} Minuten</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let subscription; let i = index">
        <button mat-icon-button [routerLink]="'/abos/edit/' + subscription.id">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(subscription, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--  <mat-list role="list" *ngIf="subscriptions.length > 0">-->
<!--    <ng-container *ngFor="let subscription of subscriptions; let index = index">-->
<!--      <mat-list-item role="listitem">-->
<!--        <div matListItemTitle><strong>{{subscription.topic}}</strong></div>-->
<!--        <div matListItemLine *ngIf="subscription.channel || subscription.duration">-->
<!--          {{subscription.channel}}<span *ngIf="subscription.channel && subscription.duration">, </span><span-->
<!--          *ngIf="subscription.duration">Länger als {{subscription.duration}} Minuten</span>-->
<!--        </div>-->
<!--        <div matListItemLine>-->
<!--          <button mat-icon-button [routerLink]="'/abos/edit/' + subscription.id">-->
<!--            <mat-icon>edit</mat-icon>-->
<!--          </button>-->
<!--          <button mat-icon-button (click)="delete(subscription, index)">-->
<!--            <mat-icon>delete</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--      </mat-list-item>-->
<!--      <mat-divider *ngIf="index !== subscriptions.length - 1"></mat-divider>-->
<!--    </ng-container>-->
<!--  </mat-list>-->
<!--</mat-card>-->

<button mat-fab
        color="accent"
        aria-label="Abo hinzufügen"
        style="position: fixed; bottom: 18px; right: 18px;"
        [routerLink]="'/abos/add'">
  <mat-icon>add</mat-icon>
</button>
